.loading-screen {
  position: fixed;
  inset: 0;
  background: #0b0b0b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
    isolation: isolate;

}

.loading-bar {
  height: 4px;
  background: linear-gradient(90deg, #ff3b3b, #ff7f00);
  width: 0%;
  transition: width 0.15s linear;
  will-change: auto;
}

.app-bg-video {
  position: fixed;
    isolation: isolate;
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;

  /* Quita suavizados innecesarios */
  transform: translateZ(0);
    backface-visibility: hidden;

  will-change: auto;
}

.App{
    isolation: isolate;

}
.App::after {
  content: "";
  inset: 0;

  /* Menos opacidad = más nitidez */
  background: rgba(0, 0, 0, 0.25);
  transform: translateZ(0);
  backface-visibility: hidden;
  z-index: -1;
  pointer-events: none;
}


@media (max-width: 768px) {

  /* Loading */
  .loading-screen {
    padding: 0 16px;
  }

  .loading-bar {
    height: 3px;
  }

  /* Video de fondo */
  .app-bg-video {
    width: 100vw;
    height: 100vh;          /* FIX: en móvil debe ser vh */
    object-fit: cover;
  }

  /* Overlay */
  .App::after {
    background: rgba(0, 0, 0, 0.35); /* un poco más oscuro para legibilidad */
  }
}
